<!DOCTYPE html>
<html lang="pt-br">

<head>

    <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <link rel="stylesheet" href="css/main.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MASTER</title>
</head>

<body>

    <section class="hero is-info is-fullheight">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item"><img src=""></a>
                        <span class="navbar-burger burger" data-target="navbarMenu">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>
                    <div id="navbarMenu" class="navbar-menu">
                        <div class="navbar-end">
                            <span class="navbar-item">
                                <a class="button is-white is-outlined" href="#">
                                    <span class="icon">
                                        <i class="fa fa-home"></i>
                                    </span>
                                    <span>Home</span>
                                </a>
                            </span>
                            <span class="navbar-item">
                                <a class="button is-white is-outlined" href="https://www.google.com" target="_blank">
                                    <span class="icon">
                                        <i class="fab fa-discord"></i>
                                    </span>
                                    <span>Invite</span>
                                </a>
                            </span>
                            <span class="navbar-item">
                                <a class="button is-white is-outlined" href="https://www.google.com">
                                    <span class="icon">
                                        <i class="fa fa-book"></i>
                                    </span>
                                    <span>API</span>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-6 is-offset-3">
                    <h1 class="title">Seja Bem Vindo(a) :)</h1>
                    <h2>Este é o MasterAPI &gt;~&lt;</h2>
                </div>
            </div>
        </div>
    </section>

    <!-- Javascripts -->

    <script>
        (function () {
            var burger = document.querySelector(".burger");
            var menu = document.querySelector('#' + burger.dataset.target);
            burger.addEventListener("click", function () {
                burger.classList.toggle("is-active");
                menu.classList.toggle("is-active");
            });
        })();
    </script>

</body>

</html>